<div class="container">
    <h2 class="title">Información Académica</h2>

    <ul class="list">
      <li *ngFor="let info of informacionAcademica" class="list-item">
        <span class="info-text">{{ info.institucion }} - {{ info.carrera }} ({{ info.especializacion }})</span>
    </li>
    </ul>

    <h3 class="subtitle">Agregar nueva información académica</h3>
    <form (submit)="agregarInformacionAcademica()" class="form">
        <div class="form-group">
            <label for="institucion">Institución:</label>
            <input id="institucion" [(ngModel)]="nuevaInstitucion" name="institucion" type="text" required class="input" />
        </div>
        
        <div class="form-group">
            <label for="carrera">Carrera:</label>
            <input id="carrera" [(ngModel)]="nuevaCarrera" name="carrera" type="text" required class="input" />
        </div>

        <div class="form-group">
            <label for="especializacion">Especialización:</label>
            <input id="especializacion" [(ngModel)]="nuevaEspecializacion" name="especializacion" type="text" class="input" />
        </div>

        <button type="submit" class="button">Agregar</button>
    </form>
</div>
