<div class="container">
    <h2 class="title">Información Laboral</h2>

    <ul class="list">
      <li *ngFor="let info of informacionLaboral" class="list-item">
        <span class="info-text">{{ info.trabajo }} - {{ info.puesto }} ({{ info.departamento }}) - {{ info.horas }} horas</span>
    </li>
    </ul>

    <h3 class="subtitle">Agregar nueva información laboral</h3>
    <form (submit)="agregarInformacionLaboral()" class="form">
        <div class="form-group">
            <label for="trabajo">Trabajo:</label>
            <input id="trabajo" [(ngModel)]="nuevoTrabajo" name="trabajo" type="text" required class="input" />
        </div>
        
        <div class="form-group">
            <label for="puesto">Puesto:</label>
            <input id="puesto" [(ngModel)]="nuevoPuesto" name="puesto" type="text" required class="input" />
        </div>

        <div class="form-group">
            <label for="departamento">Departamento:</label>
            <input id="departamento" [(ngModel)]="nuevoDepartamento" name="departamento" type="text" class="input" />
        </div>

        <div class="form-group">
            <label for="horas">Horas trabajadas:</label>
            <input id="horas" [(ngModel)]="nuevasHoras" name="horas" type="number" required class="input" />
        </div>

        <button type="submit" class="button">Agregar</button>
    </form>
</div>